**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [49]:
import math
import sys


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [4]:
square = [i**2 for i in range(1,21)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [4]:
sqrt = [i**2 for i in range(1, 101)]
print(sqrt)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
my_list = [i for i in range(-10,1)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [9]:
odds = [i for i in range(1, 101) if i % 2 != 0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [11]:
divisible_by_seven = [i for i in range(1,1001) if i % 7 == 0]
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [13]:
teststring = 'Find all of the words in a string that are monosyllabic'
vowels = "aeiouAEIOU"
non_vowels = [i for i in teststring if i not in vowels]
print(non_vowels)

['F', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [19]:
string_2 = "The Quick Brown Fox Jumped Over The Lazy Dog"

capital_letters = [i for i in string_2 if i.isupper() == True]
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [22]:
teststring = "The quick brown fox jumped over the lazy dog"
vowels = "aeiouAEIOU"
non_vowels = [i for i in teststring if i not in vowels and i.isspace() != True]
print(''.join(non_vowels))

Thqckbrwnfxjmpdvrthlzydg

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

In [1]:
import os
path = "/Users/usuari/Desktop/Ironhack/BOOTCAMP/lectures"

files = [folder for folder in os.listdir(path) if os.path.isdir(os.path.join(path, folder))]
print(files)

['week-2', 'images', 'example', 'datasets', 'troubleshooting', 'week-1', '.git', 'cheatsheet', 'faq-and-examples']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [30]:
# Option 1
import random as rd

random_lists = [rd.sample(range(100), k=10)] + [rd.sample(range(100), k=10)] + [rd.sample(range(100), k=10)] + [rd.sample(range(100), k=10)]
print(random_lists)

[[3, 5, 10, 63, 50, 73, 34, 99, 24, 26], [68, 8, 9, 60, 58, 36, 92, 20, 86, 64], [83, 57, 80, 17, 64, 30, 87, 48, 77, 61], [99, 10, 14, 62, 68, 27, 87, 23, 88, 35]]

In [32]:
# Option 2

random_lists = [[rd.randint(0,100) for _ in range(10)] for _ in range(4)]
print(random_lists)

[[22, 82, 85, 12, 64, 55, 58, 1, 72, 6], [20, 79, 90, 3, 67, 97, 21, 61, 52, 3], [79, 69, 89, 48, 51, 12, 8, 8, 100, 33], [54, 96, 31, 22, 35, 71, 73, 77, 60, 93]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [15]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [4]:
flatten_list = [j for i in list_of_lists for j in i]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [6]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [14]:
floats = [float(j) for i in list_of_lists for j in i]
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [23]:
for i in ['a','b','c']:
    print (i**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [27]:
for i in ['a', 'b', 'c']:
    try:
        print(i**2)
    except TypeError:
        print(f"Error: Cannot square a string, {i}")

Error: Cannot square a string, a
Error: Cannot square a string, b
Error: Cannot square a string, c

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [28]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [32]:
x = 5
y = 0
try:
    z = x/y
    print(z)
except ZeroDivisionError:
    print(f"Error: Cannot divide a number by zero, y = {y}")

Error: Cannot divide a number by zero, y = 0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [33]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [34]:
abc = [10, 20, 30]
try:
    print(abc[3])
except IndexError:
    print("Error: list index out of range")

Error: list index out of range

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [43]:
try:
    n1 = int(input("Please insert a number, "))
    n2 = int(input("Please insert a number, "))
    print(n1/n2)
except ValueError:
    print(f"Error: That is not a number")
except ZeroDivisionError:
    print(f"Error: Cannot divide a number by zero, n2 = {y}")

Please insert a number, a
Error: That is not a number

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [1]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [45]:
try:
    f = open('testfile', 'r')
    f.write('Test write this')
except FileNotFoundError:
    print("Error: file not found")

Error: file not found

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [2]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (<ipython-input-2-f4ec7bf448fd>, line 2)

In [48]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except IndentationError:
    print("Error: unexpected indent")
except FileNotFoundError:
    print("Error: file not found")
except ValueError:
    print("Value Error")

Error: file not found

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [50]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [52]:
try:
    def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    linux_interaction()
except AssertionError:
    print("Function can only run on Linux systems")

Function can only run on Linux systems


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'