**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [110]:
from functools import reduce
import os
import random
import sys


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [3]:
square = [i**2 for i in range(20)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [6]:
sqrt=[i**2 for i in range(100)]
print(sqrt)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [10]:
my_list=[i for i in range(-10,1)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [15]:
odds = [i for i in range (1,101) if i%2 != 0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [17]:
divisible_by_seven = [i for i in range (1,1001) if i % 7 == 0]
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [24]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [41]:
vowels= ['a','e','i','o','u']
c = 'Find all of the words in a string that are monosyllabic'

def suma (a,b):
    return a+b

final_text=reduce(suma,[i for i in c if i not in vowels])

print(final_text)

Fnd ll f th wrds n  strng tht r mnsyllbc

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [44]:
text = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = [i for i in text if i.isupper()]
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [51]:
non_vowels = 'bcdfghjklmnpqrstvwxyz'
text =  'The quick brown fox jumped over the lazy dog'

consonants = [ i for i in text.lower() if i in non_vowels]
print(consonants)

['t', 'h', 'q', 'c', 'k', 'b', 'r', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 'd', 'v', 'r', 't', 'h', 'l', 'z', 'y', 'd', 'g']

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

In [62]:
files= os.listdir('C:/PATRICIA/Ironhack/Lectures/lectures')
print(files)

['.git', '.gitignore', 'cheatsheet', 'datasets', 'example', 'faq-and-examples', 'images', 'README.md', 'troubleshooting', 'week-1', 'week-2']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [69]:
random_list=[[random.randint(0,100) for j in range(10)] for i in range(4)]
print(random_list)

[[49, 22, 55, 75, 55, 60, 66, 89, 26, 63], [85, 100, 50, 0, 95, 83, 38, 62, 54, 8], [93, 62, 32, 55, 78, 18, 41, 99, 25, 59], [80, 79, 81, 6, 29, 12, 64, 52, 23, 14]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [70]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [73]:
flatten_list =[j for i in list_of_lists for j in i]

print (flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [ ]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [75]:
floats = [[float(i) for i in j] for j in list_of_lists]

print(floats)

[[1.0, 2.0, 3.0], [4.0, 5.0, 6.0], [7.0, 8.0, 9.0]]

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print i**2

In [81]:
for i in ['a','b','c']:
    try:
        print (i**2)
    except TypeError:
        print (f"{i} is  a {type(i)} thus cannot be powered")

a is  a <class 'str'> thus cannot be powered
b is  a <class 'str'> thus cannot be powered
c is  a <class 'str'> thus cannot be powered

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [82]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [86]:
x = 5
y = 0
try:
    print(z = x/y)
except ZeroDivisionError as unalias:
    print(f"{unalias}: All done!")

division by zero: All done!

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [87]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [89]:
abc=[10,20,20]
try:
    print(abc[3])
except IndexError as alias:
    print(f"good try byt you have a {alias} problem...")

good try byt you have a list index out of range problem...

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [91]:
1/0

ZeroDivisionError: division by zero

In [92]:
1/'a'

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [100]:
def divi(a,b):
    try:
        print(a/b)
    except ZeroDivisionError as alias_1:
        print(f"upsss....carefull, it seems you have introduced a 0 as you're facing a {alias_1} error")
    except TypeError as alias_2:
        print(f"take, care, one of the digits is a string and you have a {alias_2} error" )

In [101]:
divi(5,0)

upsss....carefull, it seems you have introduced a 0 as you're facing a division by zero error

In [103]:
divi('5',2)

take, care, one of the digits is a string and you have a unsupported operand type(s) for /: 'str' and 'int' error

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [104]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [108]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError as alias:
    print(f"please, take a look at the providen PATH, you have an error : {alias}")

please, take a look at the providen PATH, you have an error : [Errno 2] No such file or directory: 'testfile'

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [114]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (1269636024.py, line 2)

In [117]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except IndentationError:
    print("please, revise indentation")
except FileNotFoundError:
    print("File not found")

File not found

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [111]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [118]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
        #linux_interaction()
    except AssertionError :
        print("it seems you are running this function in a system which is not a Linux!")

In [119]:
linux_interaction()

it seems you are running this function in a system which is not a Linux!


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [134]:
def square_it():
    x =input("please, introduce an integer ")
    try:
        print(int(x)**2) 
    except ValueError:
        return square_it()

square_it()

please, introduce an integer a
please, introduce an integer a
please, introduce an integer g
please, introduce an integer 4
16


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [136]:
results = [i for i in range (1,1001) if i % 2 == 0 or i % 9 == 0]

print(results)

[2, 4, 6, 8, 9, 10, 12, 14, 16, 18, 20, 22, 24, 26, 27, 28, 30, 32, 34, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 56, 58, 60, 62, 63, 64, 66, 68, 70, 72, 74, 76, 78, 80, 81, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100, 102, 104, 106, 108, 110, 112, 114, 116, 117, 118, 120, 122, 124, 126, 128, 130, 132, 134, 135, 136, 138, 140, 142, 144, 146, 148, 150, 152, 153, 154, 156, 158, 160, 162, 164, 166, 168, 170, 171, 172, 174, 176, 178, 180, 182, 184, 186, 188, 189, 190, 192, 194, 196, 198, 200, 202, 204, 206, 207, 208, 210, 212, 214, 216, 218, 220, 222, 224, 225, 226, 228, 230, 232, 234, 236, 238, 240, 242, 243, 244, 246, 248, 250, 252, 254, 256, 258, 260, 261, 262, 264, 266, 268, 270, 272, 274, 276, 278, 279, 280, 282, 284, 286, 288, 290, 292, 294, 296, 297, 298, 300, 302, 304, 306, 308, 310, 312, 314, 315, 316, 318, 320, 322, 324, 326, 328, 330, 332, 333, 334, 336, 338, 340, 342, 344, 346, 348, 350, 351, 352, 354, 356, 358, 360, 362, 364, 366, 368, 369, 370, 372, 374, 376, 378, 380, 382, 384, 386, 387, 388, 390, 392, 394, 396, 398, 400, 402, 404, 405, 406, 408, 410, 412, 414, 416, 418, 420, 422, 423, 424, 426, 428, 430, 432, 434, 436, 438, 440, 441, 442, 444, 446, 448, 450, 452, 454, 456, 458, 459, 460, 462, 464, 466, 468, 470, 472, 474, 476, 477, 478, 480, 482, 484, 486, 488, 490, 492, 494, 495, 496, 498, 500, 502, 504, 506, 508, 510, 512, 513, 514, 516, 518, 520, 522, 524, 526, 528, 530, 531, 532, 534, 536, 538, 540, 542, 544, 546, 548, 549, 550, 552, 554, 556, 558, 560, 562, 564, 566, 567, 568, 570, 572, 574, 576, 578, 580, 582, 584, 585, 586, 588, 590, 592, 594, 596, 598, 600, 602, 603, 604, 606, 608, 610, 612, 614, 616, 618, 620, 621, 622, 624, 626, 628, 630, 632, 634, 636, 638, 639, 640, 642, 644, 646, 648, 650, 652, 654, 656, 657, 658, 660, 662, 664, 666, 668, 670, 672, 674, 675, 676, 678, 680, 682, 684, 686, 688, 690, 692, 693, 694, 696, 698, 700, 702, 704, 706, 708, 710, 711, 712, 714, 716, 718, 720, 722, 724, 726, 728, 729, 730, 732, 734, 736, 738, 740, 742, 744, 746, 747, 748, 750, 752, 754, 756, 758, 760, 762, 764, 765, 766, 768, 770, 772, 774, 776, 778, 780, 782, 783, 784, 786, 788, 790, 792, 794, 796, 798, 800, 801, 802, 804, 806, 808, 810, 812, 814, 816, 818, 819, 820, 822, 824, 826, 828, 830, 832, 834, 836, 837, 838, 840, 842, 844, 846, 848, 850, 852, 854, 855, 856, 858, 860, 862, 864, 866, 868, 870, 872, 873, 874, 876, 878, 880, 882, 884, 886, 888, 890, 891, 892, 894, 896, 898, 900, 902, 904, 906, 908, 909, 910, 912, 914, 916, 918, 920, 922, 924, 926, 927, 928, 930, 932, 934, 936, 938, 940, 942, 944, 945, 946, 948, 950, 952, 954, 956, 958, 960, 962, 963, 964, 966, 968, 970, 972, 974, 976, 978, 980, 981, 982, 984, 986, 988, 990, 992, 994, 996, 998, 999, 1000]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'

In [159]:
class Patricia_Exception (Exception):
    def __init__ (self, string):
        self.string = string
        
    def __string__ (self):   #print implícito
        return f"There was an error with: {self.string}, please refer to: "

In [157]:
hola = Patricia_Exception("Hay un error")
hola

__main__.Patricia_Exception('Hay un error')

In [158]:
try:
    Total_Marks = int(input("Enter Total Marks Scored: ")) 
    Num_of_Sections = int(input("Enter Num of Sections: "))
    if Total_Marks <2:
        raise Patricia_Exception.lower_than_two(self)
except ValueError:
    raise Patricia_Exception("There was an error here")

Enter Total Marks Scored: jm

Patricia_Exception: There was an error here